<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>{% block page_title %}Home{% endblock page_title %}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link href="//fonts.googleapis.com/css?family=Asap:400,400italic,700,700italic&amp;subset=latin,latin-ext" rel="stylesheet" type="text/css">
    {%- assets filter="cssmin", output="packed.css",
    "css/style.css",
    "js/libs/prettify/sons-of-obsidians.css"
    %}
        <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}">
    {%- endassets %}
</head>
<body>
    <div class="container">
        <header class="main-title">
            <h1><a href="{{ url_for("index") }}"><strong>G-Leegue</strong></a></h1>
            <small>To infinity and beyond</small>
        </header>
        
        <main class="contents" role="main">
            {% block contents %}
            <p>No content found buddy!</p>
            {% endblock contents %}
        </main>
        
        <nav class="sidebar">
            <ul>
                <li class="home"><a href="{{ url_for("index") }}" hreflang="en">Home</a></li>
                <li class="sublocator"><a target="_blank" href="https://docs.google.com/spreadsheets/d/1-TsLhg2NbzardgX6KckQM_p5O5VMesYYabcnwR09fZ0" hreflang="en">Sublocator</a></li>
                <li class="photos"><a href="{{ url_for("photos") }}" hreflang="en">Photos</a></li>
                <li class="blog"><a href="{{ url_for("blog") }}" hreflang="en">Blog</a></li>
                <li class="tracking-sheets"><a href="{{ url_for("track") }}" hreflang="en">Tracking sheets</a></li>
                <li class="wiki"><a target="_blank" href="http://gleegue.wikidot.com/" hreflang="en">Wiki</a></li>
                
            </ul>
        </nav>

        
        <footer class="site-footer">
            <p>
                — <a href="https://github.com/neotheicebird/gleegue.com">Get site code</a>
                — <a href="https://www.facebook.com/groups/245714685550882/">facebook</a>
            </p>
        </footer>
    </div>
    <!-- /container -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/libs/jquery-1.7.1.min.js"><\/script>')</script>
    <script type="text/javascript" src="/static/js/libs/prettify/prettify.js"></script>
    <script type="text/javascript" src="/static/js/app.js"></script>
    <script src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
</body>
</html>